<div class="card">
    <div class="card-header bg-info text-white">
        Information
    </div>
    <div class="card-body">
        <div class=" bg-white">
            <div class="border p-3 shadow">
                <h3 class="text-center"><i class="fas fa-exclamation-triangle text-danger"></i> </h3>
                <hr>
                <div class="">
                    <marquee width="100%" direction="left" scrollamount="7">
                        <div class="">
                            <h4 class="text-danger">{{ last_incident }}
                            </h4>
                        </div>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>