{% extends 'partials/base.html' %}
{% block title %}Incident Page{% endblock %}
{% block content %}
<div class="row mt-3 pt-3">
    <div class="col-md-4">

        {% include 'partials/slider.html' %}
    </div>
    <div class="col-md-8">
        {% include 'partials/dashboard-top.html' %}
    </div>
</div>
<div class="mt-5 bg-white">
    <table class="table table-hover">
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">Detail</th>
                <th scope="col">City</th>
                <th scope="col">Category</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in incident %}
            <tr>
                <th scope="row">
                    <a class="btn btn-info btn-sm" href="{% url 'dashboard-map' incident.incident_id %}">View</a>
                </th>
                <td>{{ incident.city }}</td>
                <td>{{ incident.type }}</td>
                <td>{{ incident.date_and_time|date:"F d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
